@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Heebo&family=Vollkorn&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}
body {
    background-color: rgb(236, 236, 235);
    width: 80%;
    margin-left: 5%;
}
header{
 
    margin-left: 280px;
    display: block;
    display: inline-block;
    margin-top: 70px;
    background-color: white;
    width: 80%;
    box-shadow: 0 0 0 5px rgba(236, 234, 234, 0.4);
    border-radius: 5px 5px 5px 5px;
    justify-content: center;

   

}
header img{
    margin: 50px;
    margin-right: 140px;
    width: 335px;
    height: 270px;
}
header .textbox{
    
    margin-top: 80px;
    margin-left: 50px;
    padding-right: 50%;
}
header .textbox p{
    padding-right: 100px;
}
header .textbox a{
    font-family: 'Vollkorn';
    font-size: 20px;
}
.intro{
    background-image: url(bug.png);
    background-repeat: no-repeat;
    display: block;
    display: inline-block;
    margin-left: 280px;
    margin-top: 50px;
    background-color: white;
    width: 80%;
    box-shadow: 0 0 0 5px rgba(236, 234, 234, 0.4);
    border-radius: 5px 5px 5px 5px;
    justify-content: center;
}
.intro img{
    margin-top: 90px;
    width:500px;
    height: 360px;
    border: 3px solid #333333;
    border-radius: 25px 32px 25px 32px;
    float: right;
    margin-right: 70px;
    margin-left: 70px;
    margin-bottom: 100px;
    

}

.intro .text{
    margin-top: 90px;
    margin-left: 50px;
    margin-bottom: 40px;

}
.blisa{
    background-image: url();
    background-repeat: no-repeat;
    display: block;
    display: inline-block;
    margin-left: 280px;
    margin-top: 50px;
    background-color: white;
    width: 80%;
    box-shadow: 0 0 0 5px rgba(236, 234, 234, 0.4);
    border-radius: 5px 5px 5px 5px;
    
    
}
.blisa img{
    float: right;
    height: 260px;
    width: 360px;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 85px;
    margin-bottom: 60px;
    border: 3px solid #333333;
    border-radius: 30px 25px 30px 25px;
}
.blisa h1{
    margin-top: 60px;
    margin-left: 60px;
}
.blisa h2{
    margin-left: 60px;
}
.blisa p{
    margin-left: 50px;
}
.blis{
    background-image: url();
    background-repeat: no-repeat;
    display: block;
    display: inline-block;
    margin-left: 280px;
    margin-top: 50px;
    background-color: white;
    width: 80%;
    box-shadow: 0 0 0 5px rgba(236, 234, 234, 0.4);
    border-radius: 5px 5px 5px 5px;
}
.blis .text{
    margin-top: 40px;
    margin-left: 60px;
}
 article{
    background-image: url(icone.png);
    background-repeat: no-repeat;
    display: block;
    display: inline-block;
    margin-left: 280px;
    margin-top: 50px;
    background-color: white;
    width: 80%;
    box-shadow: 0 0 0 5px rgba(236, 234, 234, 0.4);
    border-radius: 5px 5px 5px 5px;
    justify-content: center;
 }
 article .text{
    margin-top: 40px;
    margin-left: 60px;
 }